In [62]:
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as plt

In [63]:
training_df = pd.read_csv(filepath_or_buffer="california_housing_train.csv")
training_df["median_house_value"] /= 1000.0
training_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66.9
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80.1
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85.7
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73.4
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65.5

In [64]:
from tensorflow.keras.layers import Input, Lambda, Dense, Flatten,Dropout
from tensorflow.keras.models import Model
from tensorflow.keras.models import Sequential

In [65]:
model = Sequential()
model.add(Dense(units=1,input_shape=(1,)))

In [ ]:
model.compile(
  loss='mean_squared_error',
  optimizer=tf.keras.optimizers.RMSprop(lr=0.05),
  metrics=[tf.keras.metrics.RootMeanSquaredError()]
)

In [67]:
train_y = training_df["median_house_value"]

In [68]:
train_x =  training_df["population"]

In [ ]:
history = model.fit(
  train_x,
  train_y,
  epochs=18,
  batch_size=3)

In [ ]:
  batch = training_df["population"][10000:10000 + 10]
  predicted_values = model.predict_on_batch(x=batch)

  print("feature   label          predicted")
  print("  value   value          value")
  print("          in thousand$   in thousand$")
  print("--------------------------------------")
  for i in range(10):
    print ("%5.0f %6.0f %15.0f" % (training_df["population"][10000 + i],
                                   training_df["median_house_value"][10000 + i],
                                   predicted_values[i][0] ))